/10/build
/20/build
/30/build
/40/build
/50/build

/10/build.zip
/20/build.zip
/30/build.zip
/40/build.zip
/50/build.zip

/10/node_modules
/20/node_modules
/30/node_modules
/40/node_modules
/50/node_modules

/50/backend/node_modules